    html, body {
      background-color: #224720;
      color: #000000;
      font-family: 'Mako';
      /*font-weight: 10;*/
      /*font-size: 90%;*/
      /*height: 100vh;*/
      /*margin: 0;*/
    }

    h6 {
      font-size: 0.75em;
    }

    p {
      font-size: 0.75em;
    }

    .card {
      background-color: #62a448;
    }
    .card-header {
      background-color: #62a448;
    }

    .card-body {
      background-color: #aeff9c;
    }

    .card-footer {
      background-color: #62a448;
    }

    .panel-body {
      background-color: #caf4b9;
    }

    /*.navbar {
      background-color: #73ba71;

    }*/

    /*.full-height {
        height: 100vh;
    }*/

    /*.flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }*/

    /*.position-ref {
        position: relative;
    }*/

    /*.top-right {
        position: absolute;
        right: 10px;
        top: 18px;
    }*/

    /*.content {
        text-align: center;
    }

    .title {
        font-size: 84px;
    }*/

    /*.links > a {
        color: #605454;
        padding: 0 25px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }*/

    /*.m-b-md {
        margin-bottom: 30px;
    }*/
